.IndexPage {
  grid-template-columns: 55% 25% 15%;
}

/* ---------------------------------Component----------------------------------- */
.WelcomeImg {
  width: 60%;
  margin: auto;
}

.LoginBox {
  width: 100%;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  z-index: 99;
  padding: 10px;
  /* border: 1px #eeeeee solid;
  border-radius: 5px;  */
}

.Logo {
  width: 90%;
  margin: auto;
}

.go {
  position: fixed;
  right: 0px;
  bottom: 80px;
  height: 80px;
  width: 120px;
  border-style: none;
  border-radius: 40px 0px 0px 40px;
  background-color: #dddddd;
  color: #ffffff;
}

.IndexPage > .Link > .go:hover {
  outline: blueviolet solid 2px;
  background-color: #ffffff;
  color: blueviolet;
}

.SignupForm > input {
  width: 225px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #dddddd;
}
.SignupForm > input:hover {
  border-color: blueviolet;
}

.SignupForm > button {
  width: 240px;
  height: 30px;
  border-style: none;
  border-radius: 15px;
}
