.IndexPage {
  grid-template-columns: 55% 25% 15%;
}

/* ---------------------------------Component----------------------------------- */
.WelcomeImg {
  width: 60%;
  margin: auto;
}

.LoginBox {
  width: 100%;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  z-index: 99;
  padding: 10px;
  /* border: 1px #eeeeee solid;
  border-radius: 5px;  */
}

.Logo {
  width: 90%;
  margin: auto;
}
