.IndexPage {
  display: grid;
  column-gap: 2.5%;
  align-content: center;
  justify-content: center;
  grid-template-columns: 53% 27% 15%;
  grid-template-rows: 1fr;
}

/* ---------------------------------Component----------------------------------- */
.WelcomeImg {
  height: 95%;
  overflow: visible;
  margin: auto;
}

.LoginBox {
  width: 100%;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  padding: 10px;
  /* border: 1px #eeeeee solid;
  border-radius: 5px;  */
}

.Logo {
  width: 90%;
  margin: auto;
}

.go {
  position: fixed;
  right: 0px;
  bottom: 80px;
  height: 80px;
  width: 120px;
  border-style: none;
  border-radius: 40px 0px 0px 40px;
  background-color: #dddddd;
  color: #ffffff;
}

.IndexPage > .Link > .go:hover {
  outline: blueviolet solid 2px;
  background-color: #ffffff;
  color: blueviolet;
}

/* --------------------------------------------------------------------------------- */
@media (prefers-reduced-motion: no-preference) {
}

@media only screen and (max-width: 600px) {
  main {
    height: calc(100vh - 45px);
    overflow: clip;
  }
  .IndexPage {
    grid-template-columns: 100%;
    grid-template-rows: 70% 20%;
    justify-content: center;
    align-content: flex-start;
  }
  .WelcomeImg {
    height: 100% !important;
    width: !important;
    object-fit: cover !important;
    margin: auto;
    overflow: hidden;
  }
  .LoginBox {
    width: 100%;
    width: 100%;
    margin: auto;
    background: none;
    z-index: 99;
    padding: 10px;
    /* border: 1px #eeeeee solid;
    border-radius: 5px;  */
  }
  .go {
    position: fixed;
    right: 0px;
    bottom: 110px;
    height: 60px;
    width: 90px;
    border-style: none;
    border-radius: 40px 0px 0px 40px;
    background-color: #dddddd;
    color: #ffffff;
  }
  input {
    background: none;
  }
  .Logo {
    display: "none";
  }
}

/* --------------------------------------------------------------------------------- */
@keyframes App-logo-spin {
}
