/* ---------------------------------Component----------------------------------- */
.WelcomeTxt1 {
  width: 80%;
  margin: 10px auto;
  grid-row: 1 / 2;
  align-self: flex-end;
}
.WelcomeTxt2 {
  width: 80%;
  margin: 10px auto;
  grid-row: 2 / 3;
  align-self: flex-start;
}

.work {
  align-self: end;
}

.life {
  align-self: start;
}

.ListPage > .Link > .go:hover {
  outline-style: none;
  background-color: blueviolet;
  color: #ffffff;
  box-shadow: rgb(204 204 204) 1px 5px 10px;
}

/* ---------------------------------switch???????----------------------------------- */

label.switch {
  margin: auto;
  margin-left: 30px;
}

.switch {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 32px;
  padding: 0px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 1px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -1px;
  left: 0;
  right: -1px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #e6f252;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e6f252;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --------------------------------------------------------------------------------- */
@media (prefers-reduced-motion: no-preference) {
}

@media only screen and (max-width: 600px) {
  .WelcomeTxt1 {
    width: 80%;

    margin: 10px auto;
    grid-row: 1 / 2;
    align-self: flex-end;
  }
  .WelcomeTxt2 {
    width: 80%;
    margin: 10px auto;
    grid-row: 2 / 3;
    align-self: flex-start;
  }

  .ProjectList {
  }

  .work {
    align-self: end;
    width: 75%;
  }

  .life {
    align-self: start;
    width: 75%;
  }
  .go {
    position: fixed;
    right: 0px;
    bottom: 110px;
    height: 60px;
    width: 90px;
    border-style: none;
    border-radius: 40px 0px 0px 40px;
    background-color: #dddddd;
    color: #ffffff;
    font-size: 36px;
  }
  .Background {
    position: fixed;
    top: auto;
    bottom: 140px;
    width: 100%;
    z-index: -1;
  }
}

/* --------------------------------------------------------------------------------- */
@keyframes App-logo-spin {
}
