.ListPage {
  grid-template-columns: 55% 15% 25%;
  grid-template-rows: repeat(2, 1fr);
}

/* ---------------------------------Component----------------------------------- */
.WelcomeTxt {
  width: 80%;
  margin: 10px auto;
  grid-row: 1 / -1;
  align-self: center;
}

.AddProject {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  grid-row: 1 / -1;
  align-self: center;
  z-index: 99;
}

.ProjectList {
}

.work {
  align-self: end;
}

.life {
  align-self: start;
}

.goTxt {
  position: fixed;
  right: 0px;
  bottom: 60px;
  border-style: none;
  border-radius: 40px 0px 0px 40px;
  color: blueviolet;
}

.go {
  position: fixed;
  right: 0px;
  bottom: 80px;
  height: 80px;
  width: 120px;
  border-style: none;
  border-radius: 40px 0px 0px 40px;
  background-color: blueviolet;
  color: #ffffff;
}

.ListPage > .Link > .go:hover {
  outline-style: none;
  background-color: blueviolet;
  color: #ffffff;
  box-shadow: rgb(204 204 204) 1px 5px 10px;
}

/* ---------------------------------switch???????----------------------------------- */
input {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding: 5px 10px 1px 10px;
  margin: 10px;
}

.Modal > input {
  width: 160px;
  padding: 5px 10px 1px 10px;
  border-radius: 0px;
  margin: 0px 0px 5px 0px;
}

label.switch {
  margin: auto;
  margin-left: 30px;
}

.switch {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 32px;
  padding: 0px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #e6f252;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e6f252;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --------------------------------------------------------------------------------- */
@media (prefers-reduced-motion: no-preference) {
}

@media only screen and (max-width: 600px) {
  .ListPage {
    grid-template-columns: 95%;
    grid-template-rows: 55% 15% 25%;
  }
}

/* --------------------------------------------------------------------------------- */
@keyframes App-logo-spin {
}
