.ProjectPage {
  box-sizing: border-box;
  display: grid;
  column-gap: 2.5%;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 11% 39% 11% 39%;
  width: 100%;
  margin: auto;
  text-align: start;
}

input {
  border-width: 0px 0px 1px 0px;
}

.Modal > input {
  width: 160px;
  padding: 5px 10px 1px 10px;
  border-radius: 0px;
  margin: 0px 0px 5px 0px;
}

input:focus {
  outline: 1.5px solid blueviolet;
  box-shadow: blueviolet;
}

path:hover {
  fill: blueviolet;
  cursor: pointer;
}

.DisplayModeIcon > button > svg > path:hover {
  fill: var(--purple);
  cursor: pointer;
}

ul {
  padding-inline-start: 0px !important;
}

/* ---------------------------------Component----------------------------------- */
.ProjectInfo {
  width: 600px;
  margin-top: 15px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
}

.Timeline {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
  width: 100vw;
  overflow-x: scroll;
}
.Timeline::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

.DateBar {
  /* box-sizing: border-box; */
  /* padding: 0px 20px; */
  color: #666666;
  width: 100vw;
  display: -webkit-inline-box;
  overflow-x: visible;
  white-space: nowrap;
}

.TimeCanvas {
  height: calc(100% - 33px);
  width: 100%;
  display: -webkit-inline-box;
  overflow-x: visible;
  white-space: nowrap;
  position: relative;
}

.TimeCanvas::-webkit-scrollbar {
  display: none;
}

.Divider {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
}

.Unfold {
  text-align: center;
  position: fixed;
  width: 18px;
  left: calc(50vw - 9px);
  top: calc(50vh + 12px);
}

.QuickAccess {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.Task {
  height: 22px;
  background-color: var(--lightPurple);
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 2px 0px;
  color: #000000;
  position: absolute;
  -webkit-user-select: none;
  /* top: 0px; */
  /* left: 1200px; */
  /* top+left to be deleted after connecting to firebase */
}

.Task:focus {
  outline: 1.5px solid rgb(138, 43, 226);
  box-shadow: blueviolet;
}

.Task:hover {
  border-color: blueviolet;
  cursor: grab;
}
.Task:active {
  cursor: grabbing;
}

.TimeCanvas > .taskList > :hover {
  border-color: #666666;
  border-width: 1px 4px 1px 4px;
}

.TimeCanvas > .taskList > :focus {
  border-color: #ab52f2;
  border-width: 1px 4px 1px 4px;
}
.Hashtags {
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* ----------------------------------element---------------------------------- */

.projectName {
  width: 150px;
  white-space: nowrap;
  overflow: visible;
}

.ProjectDate {
  align-self: flex-end;
}

.description {
  width: 50%;
  /* overflow: scroll; */
}

.timeFrame {
  width: 19px;
  height: 100%;
  /* float: left; */
  border-width: 0px 0px 0px 1px;
  border-style: dotted;
  border-color: #eeeeee;
  z-index: -1;
}

.weekend {
  background-color: #eeeeee;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #ffffff;
}

/* ---------------------------------styled className----------------------------------- */

.highlight {
  border-color: #e6f252;
}

.d {
  padding-left: 2px;
  width: 137px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #666666;
}
.today {
  width: 138px;
  display: ;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ProjectPage {
    height: calc(100vh - 45px);
    width: 100%;
    overflow: clip;
    box-sizing: border-box;
    display: grid;
    column-gap: 2.5%;
    align-content: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 11% 39% 11% 39%;
    width: 100%;
    margin: auto;
    text-align: start;
  }
  .ProjectInfo {
    width: 100%;
  }
}
