.App {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Work Sans", sans-serif;
}

:root {
  --lime: #e6f252;
  --white: #ffffff;
  --lightGrey: #dddddd;
  --midGrey: #666666;
  --grey: #888888;
  --black: #222500;
  --purple: #8a2be2;
  --lightPurple: #fae6ff;
  --pink: #ffc402;
  --blue: #233a2e;
}

/* --------------------------------------------------------------------------------- */
.HeaderSec {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: auto;
  position: fixed;
  /* top: 0px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 0px 0px 1px 0px;
  border-color: #dddddd;

  border-style: solid;
  padding: 0px 10px;
  z-index: 1000;
  background-color: #ffffff;
}

.FooterSec {
  box-sizing: border-box;
  width: 160px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(50vw - 70px);
  bottom: 10px;
  z-index: 99;
}

/* --------------------------------Semantic Tag------------------------------------ */
a {
  text-decoration: none;
}

a:-webkit-any-link {
  /* color: -webkit-link; */
  color: var(--black);
  cursor: pointer;
}

header {
}

nav {
  z-index: 999;
}

main {
  height: calc(100vh - 45px);
  position: absolute;
  top: 45px;
}

hr {
  background-color: none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
  margin: 0px;
}
footer {
}

label {
  padding: 5px 10px 1px 10px;
  margin: 10px 5px;
}

.Modal > select {
  padding: 5px 10px 1px 5px;
  border-radius: 0px;
  margin: 0px 0px 5px 0px;
}

select:focus {
  outline-style: none;
}

.Modal > label {
  padding: 5px 10px 1px 10px;
  margin: 0px 0px 5px 0px;
}

.Modal > button {
  margin-top: 10px;
}
button {
  border: none;
  background: none;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
  padding-left: 2px;
}
.SignupForm > input {
  width: 225px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #dddddd;
}
.SignupForm > input:hover {
  border-color: #8a2be2;
}

.SignupForm > button {
  width: 225px;
  height: 30px;
  border-style: none;
  border-radius: 15px;
  margin: 10px 0px;
  text-align: center;
  place-self: center;
}

/* ---------------------------------Shared Component----------------------------------- */
.Background {
  position: fixed;
  top: calc(50vh + 22.5px);
  bottom: auto;
  width: 100%;
  z-index: -10;
}

/* ----------------------------------element---------------------------------- */
.icon {
  height: 18px;
  padding: 0px 5px;
}

.image {
  width: 100%;
  object-fit: scale-down;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #e6f252;
  color: #666666;
  overflow: visible;
  margin: 10px 10px;
}

.headerLogo {
  display: flex;
  align-items: center;
}

/* ---------------------------------styled className----------------------------------- */
.TextXL {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.TextL {
  font-size: 24px;
}

.TextM {
  font-size: 16px;
}

.TextS {
  font-size: 14px;
  vertical-align: middle;
}

.TextXS {
  font-size: 12px;
  text-align: center;
}

.padH {
  padding: 0px 10px;
}

.padV {
  padding: 5px 0px;
}

.bold {
  font-weight: bold;
}

.grey {
  color: var(--grey);
}

.theme {
  color: #e6f252;
}

/* --------------------------------------------------------------------------------- */
@media (prefers-reduced-motion: no-preference) {
}

@media only screen and (max-width: 600px) {
}

/* --------------------------------------------------------------------------------- */
@keyframes App-logo-spin {
}
