body {
  margin: 0;
  color: #222500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding: 5px 10px 1px 10px;
  margin: 10px;
}

.Modal > input {
  width: 160px;
  padding: 5px 10px 1px 10px;
  border-radius: 0px;
  margin: 0px 0px 5px 0px;
}
